h1 {
	font-size: 35px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #e28b38;
	font-family: 'Orbitron', sans-serif;

  background: #12123a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #313175, #12123a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #313175, #12123a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #313175, #12123a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #313175, #12123a); /* Standard syntax */
}

p {
	font-size: 20px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Pathway Gothic One', sans-serif;
}

#choices {
	margin-top: 50px;
	margin-left: 50px;
}

#question {
	font-size: 150%;
	margin-top: 50px;
}

#time-left {
	margin-top: 35px;
	margin-left: 40px;
}

#ackground-cover {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    background: green;
}

body {
	  background: url("../images/concrete-texture.png"); /* Background pattern from Subtle Patterns */
}

.choice:hover {
	background: #adadd8;
	color: #e28b38;
	font-size: 25px;
	width: 250px;
}

.end-choice:hover {
	background: #adadd8;
	color: #e28b38;
	font-size: 25px;
	width: 250px;
}

#answer-image {
	max-width: 300px;
	float: left;
	margin-left: 75px;
	padding-top: 25px;
}

#final-image {
	max-width: 300px;
	float: left;
	margin-left: 75px;
	padding-top: 25px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 50px;
	
    background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,0),rgba(100,100,100,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,0),rgba(100,100,100,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,0),rgba(100,100,100,1)); /* Standard syntax */
}

.home-image {
	max-width: 250px;
	max-width: 90%;
	margin-left: 12px;
}

.home-header {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 30px;
	text-align: center;
}

.display-element {
	margin-top: 30px;
	background: gray;
	width: 275px;
	max-width: 40%;
	position: absolute;
}

/* To move a homepage display element from center spot to left spot. */
.display-element.horizTranslate {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  left: -15% !important;
}

/* To move a homepage display element from right spot to center spot. */
.display-element.horizTranslate2 {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  left: 35% !important;
}

@keyframes middle-to-left {
    from {left: 35;}
    to {left: 0;}
}

@media screen and (min-width: 1024px) {
	p {
		float: left;
		width: 51%;
	}

	.end-choice:hover {
		width: 51%;
	}

	.choice:hover {
		width: 51%;
	}
};